.dms-band blockquote.quote-primary:after,.dms-band blockquote:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23e00' /></svg>")
}

.dms-band h3,.h5,h5 {
    font-size: 20px
}

.dms-band blockquote.quote-none,.list-group {
    padding-left: 0
}

/* .btn,.dms-band blockquote p {
    font-family: RedHatDisplay,"Red Hat Display",Overpass,Overpass,"Helvetica Neue",Arial,sans-serif
} */


.dms-band blockquote {
    position: relative;
    padding-left: 30px;
    line-height: 1.5
}

.dms-band blockquote:after {
    display: inline-block;
    width: 25px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 0
}

.dms-band blockquote.quote-secondary:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%230066cc' /></svg>")
}

.dms-band blockquote.quote-black:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23000' /></svg>")
}

.dms-band blockquote.quote-white:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23fff' /></svg>")
}

.dms-band blockquote.quote-gray-100:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23f6f6f6' /></svg>")
}

.dms-band blockquote.quote-gray-200:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23f2f2f2' /></svg>")
}

.dms-band blockquote.quote-gray-300:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23e7e7e7' /></svg>")
}

.dms-band blockquote.quote-gray-400:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23bdbdbd' /></svg>")
}

.dms-band blockquote.quote-gray-500:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23929292' /></svg>")
}

.dms-band blockquote.quote-gray-600:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23646464' /></svg>")
}

.dms-band blockquote.quote-gray-700:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23404040' /></svg>")
}

.dms-band blockquote.quote-gray-800:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23333' /></svg>")
}

.dms-band blockquote.quote-gray-900:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23131313' /></svg>")
}

.dms-band blockquote.quote-red:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23e00' /></svg>")
}

.dms-band blockquote.quote-red-dark:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23800000' /></svg>")
}

.dms-band blockquote.quote-blue:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%230066cc' /></svg>")
}

.dms-band blockquote.quote-blue-light:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%2373bcf7' /></svg>")
}

.dms-band blockquote.quote-blue-dark:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%23004080' /></svg>")
}

.dms-band blockquote.quote-teal:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%230c98a0' /></svg>")
}

.dms-band blockquote.quote-teal-dark:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='%2300586d' /></svg>")
}

.dms-band blockquote.quote-none:after {
    content: " "
}

.dms-band blockquote.quote-top {
    padding-left: 0;
    padding-top: 30px
}

.dms-band blockquote p {
    font-size: 20px;
    font-size: var(--pfe-theme--font-size--delta,20px);
    font-weight: 300
}

.dms-band blockquote footer {
    display: flex;
    padding-top: 10px;
    flex-direction: column
}

.dms-band blockquote footer cite {
    font-size: 1.4rem;
    font-size: var(--pfe-theme--font-size--default-xs,1.4rem);
    margin-bottom: 16px;
    font-style: normal;
    flex-grow: 1
}

.dms-band {
    padding: 40px 0
}

.pb-md-12,.py-md-12 {
    padding-bottom: 120px!important
}


.position-relative {
    position: relative!important
}

.d-md-block {
    display: block!important
}


